<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <head>
    {% block header %} {% endblock %}
  </head>

  <body>
    <!-- Section -->
    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </section>
    <!-- Footer -->
    <hr />
    <p>[<a href="/">Home</a>]</p>
    <p>
      Source code available
      <a href="https://github.com/hbina/hbina.github.io">here</a>. You can raise
      an issue if ... you have an issue with it.
    </p>
  </body>
</html>
