<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hanif Ariffin Page</title>
  </head>

  <body>
    <h1 class="title">Hanif Ariffin Page</h1>
    <section class="section">
      <div class="container">
        <p>Read <a href="/althttpd/">Explaining althttpd</a></p>
        <p>
          This static page is made with
          <a href="https://www.getzola.org/">Zola</a>
        </p>
      </div>
      <p>[<a href="/">Home</a>]</p>
    </section>
  </body>
</html>
