<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Hanif Ariffin Page</title>
  </head>

  <body>
    <h1 class="title">Hanif Ariffin Page</h1>
    <section class="section">
      <div class="container">
        <ul>
          <li>
            <p>Go to <a href="/althttpd/">althttpd: From Top To Bottom</a></p>
          </li>
          <li>
            <p>Go to <a href="/blogs/">Blogs</a></p>
          </li>
        </ul>
        <p>
          This static page is made with
          <a href="https://www.getzola.org/">Zola</a>
        </p>
      </div>
      <p>[<a href="/">Home</a>]</p>
    </section>
  </body>
</html>
